body {
  margin: 0;
  background: #e7d3a5;
  font-family: "Times New Roman", serif;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 10px;
}

#newspaper {
  background: url("paper-texture.jpg");
  background-size: cover;
  padding: 25px;
  border: 5px solid #222;
  filter: sepia(30%);
}

#printBtn {
  margin-bottom: 15px;
  padding: 10px 15px;
  background: #222;
  color: #fff;
  cursor: pointer;
  border: none;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.small-title {
  font-size: 12px;
  font-weight: bold;
}

.main-title {
  font-size: 48px;
  margin: 0;
  letter-spacing: 3px;
}

.sub-title {
  margin-top: -5px;
  font-size: 18px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 5px 0;
  margin-top: 10px;
}

.image-wrapper {
  width: 100%;
  height: auto;
  margin: 20px 0;
  border: 3px solid black;
  overflow: hidden;
  position: relative;
}

.image-wrapper img {
  width: 100%;
  display: block;
  cursor: pointer;
}

#fileInput {
  display: none;
}

.columns {
  display: flex;
  gap: 20px;
}

.column {
  width: 50%;
}

.column h3 {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 18px;
}

.column p {
  text-align: justify;
  font-size: 15px;
  line-height: 1.4;
}

/* Responsive */
@media (max-width: 700px) {
  .columns {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}
